$col-white: white; //headings //
$col-rose: #eac4ba; //texts && link: hoover,  //
$col-peach: #cbbaae; //texts in form //
$col-mirage: #19161f; //secondPage decoration vertical div //
$col-cedar: #492121; //secondPage background //
$col-cocoa: #28191e; //mainPage CTA background //
$col-sand: #796965; //footer text//
$col-cinder: #090d16; //footer background //
$col-grey: #1c1923; //footer box shadow //
$col-sun: #c5ba7f; //form border top//
$col-mocha: #813224; //form border bottom//
$font-Play: 'Play', sans-serif; //header and h1 //
$font-Mont: 'Montserrat', sans-serif; //all the rest of texts//

//not used, but promising: //

$col-cork: #210f0f;
$font-RedHat: 'Red Hat Display', sans-serif;
$font-Gent: 'Gentium Plus', serif;