.hero {
  background-image: url("https://i.ibb.co/brkypN9/bg.png");
  width: 100vw;
  height: 98vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: $col-cedar;
}