.contentSecondWrapper {
  background-color: $col-cedar;
  height: 90vh;
}

.decorationText {
  @include general-font($font-Gent, 19rem, normal, $col-white);
  color: rgba(0,0,0,0.05);
  text-shadow: 2px 2px rgba(0,0,0,0.1);
  position: absolute;
  white-space: nowrap;
  overflow: clip;
  z-index: 7;
  width: 100vw;
  text-overflow: clip;
}

.columnsWrapper {
  width: calc(100vw - 6rem);
  display: flex;
  justify-content: center;
  float: right;
  position: relative;
  z-index: 10;
}

.parWrapper {
  padding-top: 30vh;
  padding-right: 35px;
}

img {
  width: 380px;
  height: 150px;
  border-radius: 2px;
  margin-bottom: 40px;
}